# Bootstrap
app/bootstrap*

# Symfony directories
.composer/
vendor/*
*/logs/*
*/cache/*
web/uploads/*
!web/uploads/tickets/.gitkeep
web/bundles/*
bin/*
dbdata/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

composer.phar
behat.yml
.idea
