html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-family: 'Source Sans Pro', sans-serif !important;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}

strong {
    font-weight: bold;
}

ul li {
    list-style: none;
    display: inline-block;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #2D9CDB;
}

.speech-title a {
    display: inline-block;
    text-decoration: none;
    color: #2D9CDB;
    font-weight: 600;
}

.speech-title small {
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
    font-size: 21px;
}

.speech-speaker a {
    display: inline-block;
    text-decoration: none;
    font-weight: 100;
    font-size: 16px;
}

.form-control {
    display: block;
    width: 75%;
    height: 23px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

* {
    box-sizing: content-box;
}

.slick-dots {
    bottom: 10px;
}

.slick-dots li button:before {
    font-size: 40px;
    color: white;
}

.slick-dots li.slick-active button:before {
    color: white;
}

i {
    display: inline-block;
    font-style: normal;
    font-weight: 600;
}

textarea,
input {
    transition: 0.3s ease all;
}

select:focus,
textarea:focus,
input:focus {
    -webkit-box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.20);
    -moz-box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.20);
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.20);
}

.field_text.error input {
    border: 1px solid #EB5757;
}

.field_text.error textarea {
    border: 1px solid #EB5757;
}

.field_text.error:after {
    content: '';
    background: url(../img/comment-alert.png) no-repeat;
    background-size: 20px;
    position: absolute;
    top: 10px;
    right: -10px;
    width: 20px;
    height: 20px;
}

body {
    overflow-y: visible !important;
    line-height: 1;
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-font-smoothing: subpixel-antialiased !important;
}

.container {
    max-width: 1160px;
    padding: 0 30px;
    margin: 0 auto;
}

#contact {
    position: relative;
}

.flex {
    display: flex;
}

.indent {
    position: absolute;
    top: -65px;
}

.btn_blue {
    display: inline-block;
    background: #2D9CDB;
    height: 40px;
    min-width: 108px;
    border-radius: 3px;
    border: 0;
    padding: 0 20px;
    line-height: 40px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    transition: 0.3s ease-out all;
}

.btn-blue:disabled {
    opacity: 0.6;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active {
    background-color: #2D9CDB;
    color: white;
}

.wrapper_btn .btn-default:hover {
    background-color: white;
    color: #828282;
}

.wrapper_btn .btn-default:focus,
.wrapper_btn .btn-default:active {
    background-color: white;
    color: #828282;
}

.btn_blue:active {
    background: #2D9CDB;
}

.btn_cancel {
    border: 0;
    display: inline-block;
    background: none;
    height: 40px;
    min-width: 90px;
    border-radius: 3px;
    padding: 0 20px;
    line-height: 40px;
    color: #828282;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    transition: 0.3s ease-out all;
}

.btn_blue:hover {
    color: white;
    text-decoration: none;
    background: #3EB1F2;
    -webkit-box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.20);
    -moz-box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.20);
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.20);
}

.bg {
    background: #F2F2F2;
}

h2 {
    font-size: 48px;
    font-weight: bold;
    color: #2D9CDB;
    margin-bottom: 20px;
    padding-top: 40px;
}

.subtitle {
    font-size: 24px;
    color: #4F4F4F;
    font-weight: 600;
}

.subtitle a {
    color: #2D9CDB;
}

header {
    background: #fff;
    height: 83px;
    position: fixed;
    width: 100%;
    z-index: 20;
}

.btn_menu {
    display: flex;
}

.menu {
    margin-left: auto;
}

.menu ul li {
    display: inline-block;
    line-height: 83px;
    padding: 0 6px;
}

.menu ul li:last-child {
    padding: 0 0 0 6px;
}

.menu ul li a {
    color: #000;
    font-size: 13px;
}

a:hover, a:focus {
    text-decoration: none;
}

.alert {
    margin-right: -25px;
}

.menu ul li a.btn_blue{
    color: white;
}

.menu ul li a.active {
    color: #2D9CDB;
    border-bottom: 0;
    text-decoration: none;
}

.menu ul .btn a.active {
    color: white;
    border-bottom: 0;
    text-decoration: none;
}

.menu ul li.dropdown {
    padding-right: 22px;
    position: relative;
}

.menu ul li.dropdown i {
    background: url(../img/down-arrow.svg) no-repeat;
    background-size: 12px;
    position: absolute;
    top: 36px;
    right: 0;
    width: 15px;
    height: 20px;
}

.list_item {
    display: none;
    position: absolute;
    background: #fff;
    width: 100px;
    right: 0;
    top: 60px;
    z-index: 3;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.5);
}

.list_item ul li {
    display: block;
    line-height: 20px;
    padding: 5px 15px;
    color: #4a4a4a;
    font-size: 15px;
    cursor: pointer;
}

.list_item ul li:last-child {
    padding: 5px 15px;
}

.list_item ul li:hover {
    background: #eaf6fc;
}

.logo img {
    max-width: 194px;
    margin: 16px 0;
}

.gradient {
    background: linear-gradient(45deg, #567aeb, #24c9de);
    padding-top: 83px;
}

.field_text {
    position: relative;
    margin: 0 0 35px;
}

.gradient h3 {
    color: #fff;
    font-size: 29px;
    font-weight: normal;
    max-width: 770px;
    line-height: 38px;
    padding: 75px 0;
}

.gradient h3 span {
    font-weight: bold;
}

.form_call_of_paper {
    max-width: 1024px;
    padding: 0 15px 0 0;

}

.modal-body .form_call_of_paper .three {
    width: calc(100% + 9px);
}

.modal-body .form_call_of_paper .field_text.select {
    margin-right: 38px
}

.form_call_of_paper .three {
    width: calc(100% + 21px);
    max-width: 1047px;
}

.col-sm-12 {
    width: 95%;
}

.modal-header {
    border-bottom: 0;
}

.close {
    float: right;
    font-size: 45px;
    font-weight: unset;
    line-height: 1;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
}

.modal-dialog {
    max-width: 660px;
    left: 50%;
    top:0;
    bottom: 0;
    right: 0;
    margin-left: -330px;
}

.close:hover, .close:focus {
    float: right;
    font-size: 45px;
    font-weight: unset;
    line-height: 1;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
}

.form_call_of_paper .field_text {
    margin-right: 50px;
    width: 100%;
    position: relative;
}

.form_call_of_paper .field_text:last-child {
    margin-right: 0;
}

.field_text.select {
    margin-right: 25px;
}

.wrapper_btn {
    text-align: right;
    margin-right: -20px;
}

.slick-initialized .slick-slide {
    display: inline-block;
}

.slick-prev
{
    left: 10px;
    z-index: 10;
}

.slick-prev:before {
    content: '';
    background: url(../img/arrow.svg) no-repeat;
    background-size: 15px;
    display: inline-block;
    width: 30px;
    height: 30px;
    z-index: 12;
    opacity: 1;
}

.slick-next:before {
    content: '';
    background: url(../img/arrow-next.svg) no-repeat;
    background-size: 15px;
    display: inline-block;
    width: 30px;
    height: 30px;
    z-index: 12;
    opacity: 1;
}

.slick-next {
    right: 10px;
    z-index: 10;
}

.overlay_slider {
    position: absolute;
    width: 100%;
    height: 500px;
    background: rgba(0,0,0, 0.40);
    top: 0;
}

#slides {
    opacity: 0;
    position: relative;
    height: 500px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.slide {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.showing {
    opacity: 1;
    z-index: 2;
}

.carousel ul li {
    display: inline-block;
    max-height: 500px;
    position: relative;
    overflow: hidden;
}

.carousel ul li img {
    width: 100%;
    height: 100%;
}

.content_slide .btn_blue {
    text-decoration: none;
    color: white;
    margin-left: 100px;
}

.content_slide {
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 2;
}

.content_slide .wrapper_text {
    background: #fff;
    max-width: 440px;
    padding: 40px;
    border-radius: 3px;
    margin: 120px 0 20px 100px;
}

.wrapper_text .title_slide {
    color: #2D9CDB;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 10px;
}

.wrapper_text .text_slide {
    color: #4a4a4a;
    font-size: 22px;
    line-height: 30px;
}

.info {
    text-align: center;
}

.wrapper {
    max-width: 680px;
    padding: 0 15px 45px;
    margin: 0 auto;
    text-align: center;
}

.info .subtitle {
    margin: 20px 0;
}

.info p {
    color: #4F4F4F;
    font-size: 21px;
    line-height: 30px;
}

.ico_map_pin {
    background: url(../img/map-pin.svg) no-repeat;
    background-size: 29px;
    top: 1px;
    position: relative;
    right: 0;
    margin-right: 10px;
    width: 30px;
    height: 36px;
}

.ico_map_pin_min {
    background: url(../img/map-pin-min.svg) no-repeat;
    background-size: 20px;
    top: 1px;
    position: relative;
    margin-right: -12px;
    right: 0;
    width: 30px;
    height: 24px;
}

.ico_group {
    background: url(../img/Group.svg) no-repeat;
    background-size: 20px;
    top: 1px;
    position: relative;
    right: 0;
    margin-right: -10px;
    width: 30px;
    height: 21px;
}

.ico_speakers {
    background: url(../img/speackers.svg) no-repeat;
    background-size: 42px;
    top: 10px;
    position: relative;
    right: 0;
    margin-right: 10px;
    width: 43px;
    height: 43px;
}

.ico_schedule {
    background: url(../img/schedule.svg) no-repeat;
    background-size: 36px;
    top: 7px;
    position: relative;
    right: 0;
    margin-right: 10px;
    width: 40px;
    height: 43px;
}

.ico_about {
    background: url(../img/about.svg) no-repeat;
    background-size: 33px;
    top: 10px;
    position: relative;
    right: 0;
    margin-right: 10px;
    width: 40px;
    height: 40px;
}

.ico_venue {
    background: url(../img/venue.svg) no-repeat;
    background-size: 34px;
    top: 10px;
    position: relative;
    right: 0;
    margin-right: 10px;
    width: 40px;
    height: 40px;
}

.ico_eye {
    background: url(../img/eye.svg) no-repeat;
    background-size: 36px;
    top: 11px;
    position: relative;
    right: 0;
    margin-right: 10px;
    width: 40px;
    height: 40px;
}

.ico_sponsors {
    background: url(../img/sponsors.svg) no-repeat;
    background-size: 36px;
    top: 7px;
    position: relative;
    right: 0;
    margin-right: 10px;
    width: 40px;
    height: 43px;
}

.ico_organizers {
    background: url(../img/schedule.svg) no-repeat;
    background-size: 36px;
    top: 7px;
    position: relative;
    right: 0;
    margin-right: 10px;
    width: 40px;
    height: 43px;
}

.ico_contact_us {
    background: url(../img/contact_us.svg) no-repeat;
    background-size: 34px;
    top: 7px;
    position: relative;
    right: 0;
    margin-right: 10px;
    width: 40px;
    height: 40px;
}

.ico_find_us {
    background: url(../img/find_us.svg) no-repeat;
    background-size: 31px;
    top: 7px;
    position: relative;
    right: 0;
    margin-right: 10px;
    width: 40px;
    height: 37px;
}

.flex_gallery {
    margin: 40px 0 0;
}

.text_bg {
    background: #2D9CDB;
    color: #fff;
    max-width: 45%;
    width: 45%;
    padding: 15px;
    position: relative;
}

.image_bg {
    max-width: 55%;
}

.text_bg i {
    background: url(../img/twitter-white.svg) no-repeat;
    background-size: 25px;
    position: absolute;
    transition: 0.3s ease all;
    width: 25px;
    height: 25px;
    right: 15px;
}

.text_bg .twit {
    padding: 40px 0 0;
    font-size: 1.35vw;
    font-weight: 600;
    line-height: 1.3;
}

.text_bg .twit a {
    color: #fff;
}

.text_bg .author {
    padding: 30px 0 0;
    font-size: 1.75vw;
    font-weight: 600;
    line-height: 1.3;
}

.text_bg .desc {
    padding: 0;
    font-size: 1.3vw;
    font-weight: 600;
    line-height: 1;
    color: #9FE0F9;
}

.row {
    min-height: 40px;
}

.row .col_text {
    max-width: 55%;
    min-width: 55%;
    overflow: hidden;
}

.row .col_image {
    max-width: 45%;
    min-width: 45%;
    overflow: hidden;
}

.row_big {
    min-height: 800px;
}

.row_big .horizontal {
    width: 75%;
    min-width: 75%;
}

.horizontal .col_image {
    min-width: 100%;
    min-height: 520px;
}

.horizontal .image_bg {
    max-width: 60%;
    width: 60%;
}

.horizontal .col_text {
    min-height: 280px;
}

.horizontal .text_bg {
    max-width: 40%;
    width: 40%;
}

.row_big .vertical {
    width: 25%;
    min-width: 25%;
}

.vertical .col_text {
    overflow: hidden;
    height: 100%;
}

.vertical .text_bg {
    width: calc(100% - 30px);
    max-width: calc(100% - 30px);
    box-sizing: content-box;
}

.vertical .image_bg {
    height: 100%;
    max-width: 100%;
}

.bg_1 {
    background: url(../img/slide5.jpg) no-repeat;
    background-size: cover;
    width: 100%;
}

.bg_2 {
    background: url(../img/slide3.jpg) no-repeat;
    background-size: cover;
    width: 100%;
}

.bg_3 {
    background: url(../img/slide1.jpg) no-repeat;
    background-size: cover;
}

.bg_4 {
    background: url(../img/slide2.jpg) no-repeat;
    background-size: cover;
    width: 100%;
}

.bg_5 {
    background: url(../img/slide8.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 60%;
}

.bg_6 {
    background: url(../img/slide4.png) no-repeat;
    background-size: cover;
    width: 100%;
}

.bg_7 {
    background: url(../img/slide7.jpg) no-repeat;
    background-size: cover;
    width: 100%;
}

.speakers {
    position: relative;
    padding-bottom: 25px;
}

.list_speakers {
    margin-top: 55px;
}

.list_speakers li a {
    position: relative;
    padding: 0 15px 30px;
    margin-bottom: 35px;
}

.list_speakers li a span {
    position: absolute;
    width: 150px;
    text-align: center;
    font-size: 19px;
    color: #2D9CDB;
    margin: 10px 0;
}

.list_speakers li img {
    max-width: 150px;
    min-width: 150px;
    border-radius: 50%;
}

.schedule {
    padding-bottom: 40px;
    position: relative;
}
.venue {
    position: relative;
}

.sponsors {
    position: relative;
}

.organizer {
    position: relative;
}

.contact_us {
    position: relative;
}

.table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 20px;
    border-top: 1px solid #ccc;
    font-size: 21px;
}

.table tbody > tr > td,
.table tfoot > tr > td {
    padding: 10px 20px;
    line-height: 1.428571429;
    vertical-align: top;
    border-top: 0;
}

.table strong {
    color: #4a4a4a;
}

.table .orange {
    background: #F7E5D5;
}

.width_110 {
    width: 110px;
}

.table .speech-speaker {
    font-size: 19px;
    display: inline-block;
    margin-left: 25px;
}

.about .image_part {
    min-width: 50%;
    position: relative;
    background: url(../img/about.png) no-repeat;
    background-size: cover;
    min-height: 250px;
}

.about .image_part img {
    width: 100%;
}

.arrow_left {
    width: 0;
    height: 0;
    position: absolute;
    right: 0;
    top: 15%;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #fff;
}

.about .text_part {
    min-width: 50%;
}

.about .text_part div {
    margin: 0 75px;
}

.about .text_part p {
    line-height: 32px;
    font-size: 21px;
    color: #4a4a4a;
    margin-bottom: 30px;
}

.sponsors p {
    font-size: 23px;
    font-weight: 500;
    color: #4F4F4F;
    line-height: 27px;
    padding-bottom: 25px;
}

.list_sponsors {
    margin: 10px 0 40px;
}

.list_sponsors ul {
    display: flex;
}

.list_sponsors li a {
    position: relative;
    padding: 0 15px 30px;
    margin-bottom: 35px;
}

.list_sponsors .modal_img a {
    padding: 0;
    margin: 0;
}

.list_sponsors .modal_img img {
    max-width: 250px !important;
    max-height: 250px !important;
}

.list_sponsors .modal-header a {
    padding: 0;
    margin: 0;
}

.list_sponsors li a span {
    position: absolute;
    width: 163px;
    left: 0;
    text-align: center;
    font-size: 21px;
    font-weight: bold;
    color: #2D9CDB;
    margin: 10px 0;
}

.list_sponsors li img {
    max-width: 150px;
}

h2.text {
    padding: 10px 0;
    text-align: center;
    color: #2D9CDB;
    font-weight: 600;
}

h3.text {
    padding: 10px 0;
    text-align: center;
    font-size: 43px;
    font-weight: 600;
    color: #2D9CDB;
    margin-bottom: 20px;
}

.conferens {
    text-align: center;
}

.about .text_part a:focus  {
    color: white;
}

h4.text {
    padding: 10px 0;
    text-align: center;
    font-size: 33px;
    font-weight: 600;
    color: #2D9CDB;
}

.list_sponsors.middle li img {
    max-width: 120px;
    max-height: 120px;
}

.list_sponsors.middle li a span {
    width: 150px;
    font-size: 16px;
}

.list_sponsors.gold li img {
    max-width: 130px;
    max-height: 130px;
}

.list_sponsors.small li img {
    max-width: 100px;
    height: auto;
}

.list_sponsors.small li a span {
    width: 135px;
    font-size: 14px;
}

.center {
    text-align: center;
}

.form {
    min-width: 70%;
}

.form form {
    margin: 35px 60px 20px 0;
}

.form .field_text {
    position: relative;
    margin: 20px 0 35px;
}

.field_text input {
    width: 100%;
    height: 36px;
    font-size: 16px;
    padding-left: 20px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.field_text span {
    position: absolute;
    color: #4a4a4a;
    top: 13px;
    left: 10px;
    transition: 0.3s ease-out all;
}

.field_text input:focus ~ span {
    top: -23px;
    left: 0;
}

.field_text_active {
    top: -23px !important;
    left: 0 !important;
}

.field_text textarea {
    width: 100%;
    padding: 10px 0 0 23px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    resize: none;
}

.field_text textarea:focus ~ span {
    top: -23px;
    left: 0;
}

.field_text select {
    width: 95%;
    height: 40px;
    background: #fff;
    padding: 0 8px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.field_text select.active ~ span,
.field_text select:focus ~ span {
    top: -23px;
    left: 0;
}

.social {
    margin: 55px 0 0;
}

.facebook {
    background: url(../img/facebook.svg) no-repeat;
    background-size: 13px;
    transition: 0.3s ease all;
    position: relative;
    width: 33px;
    height: 25px;
}

.facebook:hover {
    background: url(../img/facebook-hover.svg) no-repeat;
    background-size: 13px;
}

.twitter {
    background: url(../img/twitter.svg) no-repeat;
    background-size: 30px;
    position: relative;
    transition: 0.3s ease all;
    width: 48px;
    height: 25px;
}

.twitter:hover {
    background: url(../img/twitter-hover.svg) no-repeat;
    background-size: 30px;
}

.google {
    background: url(../img/goole+.svg) no-repeat;
    background-size: 36px;
    position: relative;
    transition: 0.3s ease all;
    width: 45px;
    height: 25px;
}

.google:hover {
    background: url(../img/google-hover.svg) no-repeat;
    background-size: 36px;
}

.find_us h3 {
    font-weight: bold;
    font-size: 21px;
    margin: 30px 0 3px;
}

.find_us p {
    font-size: 21px;
    line-height: 30px;
}

footer .footer_text {
    margin: 40px 0;
    padding: 25px 0 0;
    border-top: 1px solid #ccc;
}

.footer_text p {
    font-size: 18px;
    line-height: 25px;
}

.footer_text p a:hover {
    text-decoration: underline;
}

.overlay {
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    display: none;
}

.row .img-circle {
    width: 100px;
}

.col-sm-9 {
    width: 60%;
}

.featurette-heading {
    font-size: 33px;
    font-weight: bold;
    color: #2D9CDB;
    margin-bottom: 20px;
    padding-top: 40px;
}

.wrap_modal {
    position: fixed;
    top: 5%;
    left: 50%;
    right: 0;
    bottom: 0;
    margin-left: -330px;
    width: 100%;
    height: 80%;
    max-width: 660px;
    z-index: 20;
    background: #fff;
    overflow: auto;
}

.modal_header {
    height: 50px;
    padding: 15px;
}

.modal_header .name {
    font-size: 21px;
    font-weight: bold;
}

.modal_header .company {
    font-size: 16px;
    font-weight: normal;
    color: #4a4a4a;
}

.modal_header i {
    background: url(../img/cancel.svg) no-repeat;
    background-size: 20px;
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 30px;
    width: 20px;
    height: 20px;
}

.modal {
    overflow-y: unset;
}

.modal img {
    width: auto;
    max-height: 300px;
}

.modal_img {
    text-align: center;
}

.modal-title {
    font-weight: bolder;
}

.modal_content {
    padding: 15px;
}

.modal_content h3 {
    margin: 10px 0 20px;
    font-weight: 600;
    font-size: 22px;
}

.modal_content p {
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
}

.modal_content ul {
    margin-bottom: 30px;
    border-bottom: 1px solid #ccc;
}

.modal_content ul li a {
    display: inline-block;
    text-decoration: none;
    color: #2D9CDB;
    font-size: 18px;
    text-decoration: underline;
    padding: 0 5px 30px 0;
}

.conferens-button {
    margin: 20px 0 0 40%;
}

@media screen and (max-width: 1090px) {
    .hamburger_icon {
        min-width: 20px;
        height: 20px;
        position: relative;
        margin: 32px 35px 32px 0;
        padding: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
    }

    .hamburger_icon span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: #757575;
        border-radius: 1px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }

    .hamburger_icon span:nth-child(1) {
        top: 0;
    }

    .hamburger_icon span:nth-child(2) {
        top: 7px;
    }

    .hamburger_icon span:nth-child(3) {
        top: 14px;
    }

    .hamburger_icon.open span:nth-child(1) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 8px;
        left: 0;
    }

    .hamburger_icon.open span:nth-child(2) {
        width: 0;
        opacity: 0;
    }

    .hamburger_icon.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 8px;
        left: 0;
    }

    header {
        position: fixed;
        width: 100%;
        z-index: 10;
    }

    .menu {
        position: fixed;
        display: none;
        width: 270px;
        top: 80px;
        left: 0;
        padding: 10px 0 10px 30px;
        background: #fff;
        bottom: 0;
        z-index: 10;
    }

    .menu ul li {
        display: block;
        height: 30px;
        line-height: 30px;
        padding: 0;
    }

    .menu ul li a {
        color: #4a4a4a;
        display: block;
        padding: 10px 0;
        font-size: 18px;
    }

    .menu ul li a.active {
        color: #2D9CDB;
        border-bottom: 0;
    }

    .menu ul li.btn {
        margin: 20px 0;
        display: inline-block;
        min-width: 145px;
    }

    .menu ul li a.btn_blue {
        color: #fff;
        padding: 0;
        margin-top: 15px;
        width: 250px;
    }

    .menu ul li.dropdown i {
        top: 23px;
        right: 20px;
    }

    .menu ul li:last-child {
        padding: 0;
    }

    .list_item {
        top: 45px;
        width: 275px;
        right: 10px;
    }

    .list_item ul li:last-child {
        padding: 5px 15px 5px;
    }

    .list_item ul li {
        padding: 5px 15px 0;
    }

    .carousel {
        position: relative;
        height: 280px;
    }

    #slides {
        position: relative;
        height: 315px;
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

    .slick-list {
        top: 83px;
    }

    .info {
        padding-top: 83px;
    }

    .carousel ul li img {
        width: auto;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .content_slide .wrapper_text {
        margin: 35px 0 0 0;
        padding: 15px;
        max-width: 210px;
    }

    .wrapper_text .title_slide {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .wrapper_text .text_slide {
        font-size: 16px;
        line-height: 21px;
    }

    .content_slide .btn_blue {
        margin: 5px 0;
    }

    h2 {
        font-size: 28px;
        font-weight: bold;
        color: #2D9CDB;
        margin-bottom: 20px;
    }

    .wrapper h2 {
        margin-top: 20px;
    }

    .subtitle {
        line-height: 30px;
    }

    .list_speakers {
        margin-top: 25px;
    }

    .ico_map_pin {
        background: url(../img/map-pin.svg) no-repeat;
        background-size: 20px;
        margin-right: 0;
        height: 23px;
    }

    .ico_map_pin_min {
        background: url(../img/map-pin-min.svg) no-repeat;
        background-size: 20px;
        margin-right: 0;
        height: 23px;
    }

    .ico_group {
        background: url(../img/Group.svg) no-repeat;
        background-size: 20px;
        margin-right: 0;
        height: 23px;
    }

    .raw .col-lg-3 {
        float: left;
        padding: 0;
    }

    .form-control {
        width: 50%;
        float: left;
        margin-right: -20px;
    }

    .form_call_of_paper .three {
        width: calc(100% + 20px);
        max-width: 1047px;
    }

    .ico_speakers {
        background: url(../img/speackers.svg) no-repeat;
        background-size: 24px;
        top: 5px;
        margin-right: 0;
        width: 35px;
        height: 24px;
    }

    .ico_schedule {
        background: url(../img/schedule.svg) no-repeat;
        background-size: 20px;
        top: 1px;
        margin-right: 0;
        width: 30px;
        height: 22px;
    }

    .ico_about {
        background: url(../img/about.svg) no-repeat;
        background-size: 24px;
        margin-right: 0;
        width: 36px;
        height: 27px;
    }

    .ico_venue {
        background: url(../img/venue.svg) no-repeat;
        background-size: 23px;
        top: 7px;
        margin-right: 0;
        width: 35px;
        height: 26px;
    }

    .ico_eye {
        background: url(../img/eye.svg) no-repeat;
        background-size: 25px;
        top: 7px;
        margin-right: 0;
        width: 35px;
        height: 25px;
    }

    .ico_sponsors {
        background: url(../img/sponsors.svg) no-repeat;
        background-size: 23px;
        top: 5px;
        margin-right: 0;
        width: 32px;
        height: 25px;
    }

    .ico_organizers {
        background: url(../img/schedule.svg) no-repeat;
        background-size: 22px;
        top: 2px;
        margin-right: 0;
        width: 34px;
        height: 24px;
    }

    .ico_contact_us {
        background: url(../img/contact_us.svg) no-repeat;
        background-size: 22px;
        top: 3px;
        margin-right: 0;
        width: 33px;
        height: 23px;
    }

    .ico_find_us {
        background: url(../img/find_us.svg) no-repeat;
        background-size: 20px;
        top: 7px;
        margin-right: 0;
        width: 30px;
        height: 25px;
    }

    .table .speech-speaker {
        margin-left: 0;
    }

    .about .text_part div {
        margin: 0 35px;
    }

    .slick-track {
        height: 300px !important;
    }

    .slick-dots {
        bottom: -70px;
    }

    .conferens-button {
        margin: 20px 0 0 40%;
    }
}

@media screen and (max-width: 767px) {
    .container {
        padding: 0 15px;
    }

    h2 {
        margin-bottom: 5px;
    }

    .subtitle {
        font-size: 16px;
    }

    .list_speakers li {
        display: block;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .list_speakers li a span {
        width: 180px;
        left: 0;
        top: 152px;
    }

    .table {
        font-size: 16px;
    }

    .table tbody > tr > td,
    .table tfoot > tr > td {
        padding: 4px;
        line-height: 1.428571429;
        vertical-align: top;
        border-top: 0;
    }

    .table .speech-speaker {
        font-size: 14px;
        margin-left: 0;
    }

    .table .speech-speaker img {
        max-width: 10px;
    }

    .width_110 {
        width: 90px;
    }

    .contact_us .flex,
    .about .flex {
        display: block;
    }

    .about .text_part div {
        margin: 0;
    }

    .about .text_part {
        padding: 0 15px;
    }

    .about .text_part p {
        padding-top: 5px;
        font-size: 16px;
    }

    .sponsors p {
        font-size: 16px;
        padding: 5px 0;
    }

    h2.text {
        font-size: 22px;
    }

    h3.text {
        font-size: 20px;
    }

    h4.text {
        font-size: 18px;
    }

    .list_sponsors li {
        display: block;
        text-align: center;
    }

    .list_sponsors li a span {
        width: 180px;
        left: 0;
        margin: 5px 0 0;
        font-size: 18px;
        top: 141px;
    }

    .list_sponsors.middle li img {
        max-width: 100px;
        max-height: 100px;
    }

    .list_sponsors.middle li a span {
        width: 130px;
        font-size: 16px;
        top: 141px;
    }

    .list_sponsors.small li {
        display: inline-block;
        width: 24%;
    }

    .list_sponsors.small li a {
        margin-bottom: 10px;
        position: relative;
        padding: 0 10px 35px;
    }

    .list_sponsors.small li img {
        max-width: 50px;
    }

    .list_sponsors.small li a span {
        width: 70px;
        font-size: 13px;
        font-weight: 500;

    }

    .form form {
        margin: 35px 22px 20px 0;
    }

    .bg_2 {
        background: url(../img/slide3.jpg) no-repeat;
        background-size: cover;
    }

    .row_big.flex,
    .row.flex {
        display: block;
    }

    .row .col_image {
        max-width: 100%;
        min-width: 100%;
    }

    .row .col_text {
        max-width: 100%;
        min-width: 100%;
        min-height: 180px;
    }

    .row .col_image {
        height: 200px;
        min-width: 100%;
        width: 100%;
    }

    .text_bg .twit {
        font-size: 13px;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .text_bg .author {
        font-size: 21px;
    }

    .text_bg .desc {
        font-size: 13px;
    }

    .row_big .vertical,
    .row_big .horizontal {
        max-width: 100%;
        min-width: 100%;
    }

    .horizontal .col_image {
        min-height: 200px;
    }

    .reverse {
        flex-direction: row-reverse;
    }

    .vertical .col_text {
        display: flex;
        flex-direction: column-reverse;
    }

    .vertical .image_bg {
        min-height: 380px;
    }

    .form_call_of_paper .flex {
        display: block;
    }

    .form_call_of_paper {
        max-width: 1024px;
        padding: 0 22px 0 0;
    }

    .form_call_of_paper .three .field_text:last-child {
        width: 100%;
    }

    .form_call_of_paper .three .field_text.select {
        margin-right: 25px;
        width: 100%;
    }

    .form_call_of_paper .three .field_text {
        width: calc(100% - 25px);
    }

    .wrapper_btn {
        text-align: right;
    }

    .gradient h3 {
        color: #fff;
        font-size: 20px;
        font-weight: normal;
        max-width: 770px;
        line-height: 27px;
        padding: 120px 0 50px;
    }

    .mobile_flex {
        display: flex;
        width: calc(100% + 25px);
        margin-bottom: 20px;
    }

    .mobile_flex .col-lg-3 {
        padding: 0 10px 0 0;
    }

    .mobile_flex .col-lg-3 .img-circle {
        border-radius: 3px;
        height: 39px !important;
    }

    .mobile_flex .col-lg-2 {
        padding: 0;
    }

    .slick-track {
        height: 300px !important;
    }

    .modal-dialog {
        width: 336px;
        margin-left: -178px;
    }

    .wrap_modal {
        margin-left: -50%;
    }

    .raw .col-lg-3 {
        float: left;
        padding: 0;
    }

    .form-control {
        width: 50%;
        float: right;
        margin-right: 0px;
    }

    .btn_blue {
        margin: 20px 0 0 0px;
    }

    .conferens {
        margin: 20px 0 0 0 !important;
    }

    .speech-title small {
        font-size: 17px;
    }

    .slick-prev,
    .slick-next{
        top:70%;
    }

    .arrow_left {
        display: none;
    }
}

/* Tickets */
.ico_tickets {
    background: url(../img/ticket.png) no-repeat;
    background-size: 46px;
    top: 11px;
    position: relative;
    right: 0;
    margin-right: 10px;
    width: 50px;
    height: 43px;
}
.list_tickets {
    display: flex;
    justify-content: center;
}
.list_tickets .ticket-item {
    border: 1px solid #000;
    padding: 15px 25px;
    margin: 15px;
    height: 360px;
    position: relative;
    justify-content: center;
    width: 200px;
}
.list_tickets .first {
    margin-left: 0;
}
.list_tickets .last {
    margin-right: 0;
}
.tickets-submit-container {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    width: 100%;
}
.ticket_name {
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid rgba(29, 31, 50, 0.2);
    padding-bottom: 10px;
    font-size: 21px;
}
.ticket_price {
    font-size: 33px;
    color: #05A5D1;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}
.buy_tickets_button {
    display: block;
    margin: 0 auto;
}
.total_price {
    /*margin-top: 65px;*/
    color: #05A5D1;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    position: absolute;
    bottom: 82px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
.lunch_price {
    margin-top: 70px;
    margin-bottom: 15px;
}

.ticket-features-checkbox, .ticket-features-label {
    cursor: pointer;
}

.buy_tickets_button[disabled] {
    background-color: #BDBDBD;
}
.cross_out {
    text-decoration: line-through;
}

#buyTicketForm, #successPaymentContainer {
    margin-top: 100px;
}

.ticket-container .remove-add-ticket{
    /*display: none;*/
}

.liqpay_ticket form{
    /*text-align: center;*/
    margin-left: 65px;
    margin-top: 10px;
}

.tickets {
    position: relative;
}

.block_menu_btn.active {
    color: #fff !important;
}

.ticket_price_container {
    margin-bottom: 15px;
}
#soldTickets_discount{
    display: inline;
    width: 25%;
}
#discountHelp{
    display: block;
}
#update_total {
    margin-left: 12px;
    display: none;
}

.ap_no_lunch{
    margin-top: 104px;
}
.error-count-tickets{
    color: red;
    font-size: 20pt;
    margin-bottom: 15px;
}
#buyTicketForm{
    margin-left: 33%;
}
#soldTickets_email, #soldTickets_discount, #soldTickets_phone   {
    /*width: calc(100% - 15px);*/
    width: 100%;
    box-sizing: border-box;
    height: 38px;
}

.ticket_email_container, .discount_container {
    flex-wrap: wrap;
}

.ticket_email_container .form-group, .discount_container .form-group {
    width: 60%;
}

#successPaymentContainer {
    text-align: center;
}

.lang_switcher_container {
    display: block;
    margin: auto;
    font-size: 17px;
}

.lang_switcher_container a {
    color: #000;
}

.lang_switcher_container .active_locale {
    color: #2D9CDB;
}

.languages_ul li {
    margin-right: 5px;
    border-left: 1px solid black;
    padding-left: 6px;
}

.languages_ul li:first-child {
    border-left: 0 !important;
}

@media only screen and (max-width: 700px) {

    .list_tickets .ticket-item {
        width: 50%;
    }

    .list_tickets {
        flex-wrap: wrap;
    }

    .list_tickets .first {
        margin-left: 15px;
    }
}
.sponsors .sponsors_desc {

}

.main_fields_container, .add_fields_container {
    width: 60%;
    display: flex;
}
.main_fields_container .form-group  {
    width: calc(50% - 5px);
    margin-right: 15px;
}

.add_fields_container .form-group {
    width: calc(33% - 5px);
    margin-right: 15px;
}

.ticket-container{
    flex-wrap: wrap;
}

.ticket-container .form-control {
    width:100%;
    box-sizing: border-box;
    height: 38px;
}

.main_fields_container .last-ticket-field, .add_fields_container .last-ticket-field{
    margin-right: 0;
}

.additional-tickets .flex {
    border-top: 1px solid black;
}

.remove-add-ticket {
    position: absolute;
    right: 0;
    top: 0;
}

.additional-tickets .flex {
    position: relative;
}

.additional-tickets .ticket-container{
    width: 62%;
}

.additional-tickets .main_fields_container, .additional-tickets .add_fields_container {
    width: 100%;
}

@media only screen and (max-width: 1090px) {
    .additional-tickets .ticket-container{
        width: 100%;
    }

    #buyTicketForm .form-control{
        float: none;
    }

    .ticket-container, .additional-tickets{
        flex-direction: column;
    }

    #buyTicketForm .form-control{
        float: none;
        width: 90%;
    }

    #buyTicketForm .form-group{
        width: 100%;
    }

    #update_total {
        margin-left: 25px;
    }

    .additional-tickets .flex {
        display: block;
        /*position: relative;*/
    }

    .lang_switcher_container {
        margin: 30px;
    }

    .languages_ul {
        font-size: 10px;
    }

    .main_fields_container, .add_fields_container {
        width: calc(100% - 47px);
    }

    .main_fields_container .form-group, .add_fields_container .form-group {
        margin-right: 0;
    }

    .main_fields_container .form-group  {
        width: calc(50% - 5px) !important;
    }

    .add_fields_container .form-group {
        width: calc(33% - 5px) !important;
    }
    #soldTickets_discount {
         display: block;
    }

    #buyTicketForm {
        margin-left: 0;
    }
}

@media only screen and (max-width: 770px) {
    #buyTicketForm {
        margin-left: 0;
    }

    .liqpay_ticket form {
        margin-left: 0;
    }

    .liqpay-price {
        font-size: 16px;
    }

    .main_fields_container, .add_fields_container {
        display: block;
    }

    .main_fields_container .form-group  {
        width: 100% !important;
    }

    .add_fields_container .form-group {
        width: 100% !important;
    }

    #buyTicketForm .form-control{
        box-sizing: border-box;
        height: 38px;
    }

    .main_fields_container, .add_fields_container {
        width: 100%;
    }
}

@media only screen and (max-width: 350px) {
    #buyTicketForm {
        margin-left: 0;
    }

    .liqpay_ticket form {
        margin-left: 0;
    }

    .lang_switcher_container {
        margin: auto;
    }
}

@media only screen and (max-width: 1200px) {
    .menu, .languages_ul {
        font-size: 11px;
    }
}

.tickets-modal-close {
    /*position: absolute;*/
    /*top: -19px;*/
    /*right: -17px;*/
    opacity: 1;
}

.tickets-modal-bg {
    background-image: url('/bundles/eventevent/img/tickets-modal-bg.png');
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    height: 460px;
    box-shadow: none;
}

.tickets-modal-buy-button {
    position: absolute;
    bottom: 100px;
    text-align: center;
}

.tickets-modal-buy-button a {
    background-color: #240456 !important;
}

.list_tickets {
    display: flex;
    justify-content: space-evenly;
}

.list_tickets .workshop_item {
    padding: 0;
    min-height: 350px;
    width: 300px;
}

.workshop_item .ticket_name {
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: #262627;*/
    /*color: white;*/
    padding: 15px 5px;
    font-size: 1em;
    font-weight: bold;
    height: 30px;
}

.workshop_item .ticket_price {
    /*background-color: #eee;*/
    color: #333;
    font-size: 1.25em;
    font-weight: 100;
    margin-top: 0;
    padding: 15px 25px;
}

.wsh_schedule .wsh_schedule_item {
    padding: 15px 25px;
    border-bottom: 1px solid #eee;
    height: 15px;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.workshop_item .wsh-buy-button-container {
    bottom: 0;
    padding: 15px 25px;
    width: auto;
    background-color: #eee;
    position: relative;
}

.workshop_item .wsh_time, .workshop_item .wsh_count {
    padding:15px 25px;
    /*border-bottom: 1px solid #EEEEEE;*/
    /*border-top: 1px solid #333;*/
    width: 250px;
    font-weight: bold;
    text-align: center;

}
.workshop_item .wsh_schedule {
    border-top: 1px solid #333;
    font-size: 16px;
}
.workshop_item .wsh_time {
    bottom:115px;
}

.workshop_item .wsh_count {
    bottom: 70px;
}

.ticket_date {
    height: 15px;
    padding: 15px 25px;
    text-align: center;
    font-weight: bold;
}
.wsh_schedule_container {
    display: none;
    /*transition: 0.5s;*/
}
.heightAuto {
    height: auto !important;
}
@media screen and (max-width: 767px) {
    .sponsors .modal-dialog, .schedule .modal-dialog {
        left: 0;
    }
    .speakers .wrap_modal {
        margin-left: 0;
        left: 0;
    }
}
