.space {
    margin-top: 50px;
}

.soft-delete {
    color: #ccc;
}

.buttons-bar {
    margin-bottom: 10px;
}

.site-mode {
    margin: 9px 0 0 40%;
    position: absolute;
}

.ta-center {
    text-align: center;
}

/* form */
form input {
    width: 300px;
}

/* menu */
.navbar-brand {
    max-width: 250px;
}

.nav-list>.current_ancestor>.menu_level_1>.active>a, .nav-list>.current_ancestor>.menu_level_1>.active>a:hover, .nav-list>.current_ancestor>.menu_level_1>.active>a:focus {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
    background-color: #08c;
}

.nav-list>li>ul>li>a {
    padding: 3px 15px;
}

.nav-list>li>ul {
    margin-left: 0px;
    list-style: none;
}

.span-plan {
    width: 110px;
}

.truncate {
    width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* modal */
#registration .modal-content {
    width: 700px;
    margin-left: -90px;
}

/* circle styles */
#face-wrapper .face {
    z-index: 1;
    -moz-box-shadow: 0px 0px 0px 1px #e8e6e6; /* Firefox */
    -webkit-box-shadow: 0px 0px 0px 1px #e8e6e6; /* Safari, Chrome */
    box-shadow: 0px 0px 0px 1px #e8e6e6; /* CSS3 */
}

/* social icons */
.social-icon {
    height:37px;
    width:37px;
    background-image:url('../img/social-icons.png');
    display: inline-block;
    margin-top: 1px;
    line-height: 37px;
    vertical-align: text-top;
    background-repeat: no-repeat;
}
.twitter {background-position:-163px -11px;}
.facebook {background-position:-44px -54px;}
.google {background-position:-84px -54px;}

/* schedule */
.speech-title {
    font-size: medium;
}
.speech-speaker {
    font-size: small;
}

.table tbody > tr > td.no-schedule {
    padding-left: 0;
    border-top: none;
    font-size: 21px;
    font-weight: 200;
    line-height: 1.4;
}

.bs-docs-sidebar .well {
    padding: 19px 5px;
}

/* carousel */
.carousel {
    background-color: rgba(226, 196, 84, 0.78);
    margin-bottom: 20px;
}

.navbar-wrapper .navbar {
    border-radius: 0;
    border-bottom: 1px solid #999999;
}

.event-place-wrap p {
    text-align: center;
    font-size: 28px;
}
