parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~
    mailer_port:       ~

    locale:            en
    secret:            4yceqicrp8stv6qmwxnv

    behat_print_err:   1

    # default email for bot from which email is sent
    from_email:        bot@email.com

    admin_password:    admin
    liqpay.publickey: i81503181518
    liqpay.privatekey: 0BKsMiFrdqh8VshE0iq7Ab5xSblonjGjEM1kWgUi
    liqpay.sandbox: 1
    wkhtmltopdf.path: %kernel.root_dir%/../vendor/h4cc/wkhtmltopdf-amd64/bin/wkhtmltopdf-amd64
    wkhtmltoimg.path: /usr/local/bin/wkhtmltoimage
    mail-from-name: Eventator
