<div class="modal fade" id="callForPaper">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{ 'Call for Paper'|trans }}</h4>
            </div>
            <div class="modal-body">
                {% include 'EventEventBundle:Event:_form.html.twig' %}
            </div>
        </div>
    </div>
</div>
