<footer>
    <div class="container">
        <div class="footer_text">
            <p>© 2018 {{ event.title }}</p>
            {% set team_name = '<a href="https://lazy-ants.com">Lazy Ants</a>' %}
            {% set platform_name = '<a href="https://github.com/pilot/eventator">Eventator</a>' %}
            <p>
                {{ 'made by %name% team, build on top of %platform% platform' |
                trans({'%name%': team_name, '%platform%': platform_name}) | raw }}
            </p>
        </div>
    </div>
</footer>
