<footer>
    <div class="container">
        <div class="footer_text">
            <p>© 2013 {{ event.title }}</p>
            <p>made by <a href="https://lazy-ants.com">Lazy Ants</a> team, build on top of <a href="https://github.com/pilot/eventator">Eventator</a> platform</p>
        </div>
    </div>
</footer>
