{% extends 'EventEventBundle::base.html.twig' %}
{% set event = app.request.attributes.get('event') %}

{% block title %}{{ 'Call for Paper'|trans }} - {{ event.logicMetaTitle }}{% endblock %}

{% block body %}
    {#{% include 'EventEventBundle:Component:_block_menu.html.twig' with {'home_page': false} %}#}
    {{ render(controller('EventEventBundle:Event:blockMenu', { 'homepage': false })) }}
        <section>
            <div class="gradient">
                <div class="container">
                    <h3><span> Symfony camp ua conference</span> is dedicated web applications development using <span>php framework symfony.</span></h3>
                </div>
            </div>
        </section>
    <div class="container">
    <h2>{{ 'Call for Paper'|trans }}</h2>
        {% include 'EventEventBundle:Event:_form.html.twig' with {'home_page': false} %}
    </div>
    {% include 'EventEventBundle:Event:_footer.html.twig' %}

{% endblock %}

