{% extends 'EventEventBundle::layout.html.twig' %}

{% block content %}
    <div class="hero-unit">
        <h1>Welcome to the Eventator!</h1>
        <p>Events managing with easiest ticketing systems</p>
        <p>Configure your Event in several simple steps, just start from sidebar menu.</p>
    </div>
{% endblock %}
