{% extends 'EventEventBundle::base.html.twig' %}
{% set event = app.request.attributes.get('event') %}

{% block title %}{{ 'Payment success'|trans }}{% endblock %}

{% block body %}
    {% include 'EventEventBundle:Component:_block_menu.html.twig' with {'home_page': false} %}
    <div class="container">
        <div class="payment_success" id="successPaymentContainer">
            <h3>
                <strong>{{ 'Thank You!'|trans }}</strong>
            </h3>
            <p>{{ 'We will send the ticket(s) to Email You specified earlier' }}</p>
        </div>
    </div>
    {% include 'EventEventBundle:Event:_footer.html.twig' %}
{% endblock %}

