event_main_homepage:
    pattern:  /hello/{name}
    defaults: { _controller: EventEventBundle:Default:index }

_backend:
    resource: routing/backend.yml
    prefix:   /admin

admin_login:
    pattern:  /admin/login
    defaults: { _controller: EventEventBundle:Security:login }

admin_check:
    pattern:  /admin/login_check
    defaults: { _controller: EventEventBundle:Security:check }

admin_logout:
    pattern:  /admin/logout
    defaults: { _controller: EventEventBundle:Security:logout }