<div id="confirm-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="confirm-modalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="confirm-modalLabel">{{ title }}</h3>
    </div>
    <div class="modal-body">
        <p>{{ body }}</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">No</button>
        <a class="btn btn-primary" id="modal-confirm-action">Ok</a>
    </div>
</div>
