<ul class="nav nav-tabs" id="localesTab">
  <li class="active"><a data-toggle="tab" href="#en_US">en</a></li>
  <li><a data-toggle="tab" href="#ru_RU">ru</a></li>
  <li><a data-toggle="tab" href="#de_DE">de</a></li>
</ul>