{% extends 'EventEventBundle:Backend:layout.html.twig' %}

{% block content %}
    <section>
        <div class="page-header">
            <h3>Event settings</h3>
        </div>

        <form id="event" action="{{ url('backend_setting') }}" method="post" {{ form_enctype(form) }}>
            {{ form_widget(form) }}
            
            {{ form_rest(form) }}

            <input class="btn btn-success" type="submit" value="Update" />
        </form>

    </section>
{% endblock %}