{% extends 'EventEventBundle::base.html.twig'  %}

{% block body %}
    {% block menu %}
    <div class="navbar-wrapper">
        <div class="container">

            <div id="navbar" class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <a class="navbar-brand" href="#">Eventator</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#schedule">Schedule</a></li>
                            <li><a href="#speakers">Speakers</a></li>
                            <li><a href="#sponsors">Sponsors</a></li>
                            <li><a href="#contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
    {% endblock %}

    {% render controller('EventEventBundle:Event:carousel') %}

    {% block content %}{% endblock %}

{% endblock %}
