{% extends 'EventEventBundle:Backend:layout.html.twig' %}

{% block content %}
    <section>
        <div class="page-header">
            <h3>Event settings</h3>
        </div>

        <div class="well">
            Todo: add global settings management
        </div>
    </section>
{% endblock %}
