<section class="about">
    <div class="flex">
        <div class="image_part">
            <div class="modal">
                <div class="wrap_modal">
                    <div class="modal_header">
                        <i></i>
                        <h3 class="name">Antonio Perić-Mažar</h3>
                        <h4 class="company">Locastic (CEO @ Locastic)</h4>
                    </div>
                    <div class="modal_content">
                        <h3>Info</h3>
                        <p>Antonio is CEO at Locastic, a development agency based in Croatia. For the last 10
                            years he has been developing web applications, and for more then 5 years he's been
                            using
                            Symfony2 as his main tool. During that time, he helped a lot of various clients to
                            build
                            amazing products and applications. In his free time he is working on a PhD in
                            Computer
                            Science and contributing to Sylius (one of the awesome contributors and evangelists
                            of
                            Sylius). Very proud of the integration of eZ Publish and Sylius that he worked on.
                        </p>
                        <ul>
                            <li><a href="#">GitHub,</a></li>
                            <li><a href="#">Twitter,</a></li>
                            <li><a href="#">Homepage</a></li>
                        </ul>
                        <h3>Speech</h3>
                        <p>Maintainable + Extensible = Clean ... yes, Code! (en)</p>
                        <p>Clean code is like
                            teenage sex: everyone talks about it, nobody really knows how to do it, everyone
                            thinks everyone else is doing it, so everyone claims they are doing it... It is
                            essential that the codes we write should be able to be understood by all. This talk
                            will give you introduction to the principles how to write clean code that is
                            maintainable and extensible on long terms.</p>
                    </div>

                </div>
                <div class="overlay"></div>
            </div>
            <i class="arrow_left"></i>
        </div>
        <div class="text_part">
            <div>
                <h2><i class="ico_about"></i>About symfony camp</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                    massa.
                    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam
                    felis,
                    ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede
                    justo,
                    fringilla vel </p>
                <a href="https://www.youtube.com/channel/UCd1Ds7u1mAjEwHrZ9jG1Arg" class="btn_blue">watch video</a>
            </div>
        </div>
    </div>
</section>