{% if event.organizers is not empty %}
<section class="organizer bg">
    <div class="container" id="organizers">
        <h2><i class="ico_organizers"></i>Organizers</h2>

        <ul class="list_speakers">
            {% for organizer in event.organizers %}
                <li>
                    <a href="{{ organizer.homepage }}">
                        <img class="img-circle face" data-src="holder.js/140x140/text:{{ organizer.homepage }}" src="{{ organizer.logo ?: '' }}" width="140" />
                        <span>{{ organizer.title }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</section>
{% endif %}
