<section class="gallery">
    <div class="container">
        <h2><i class="ico_eye"></i>How it was on past conferences</h2>
    </div>
    <div class="flex_gallery">
        <div class="row flex">
            <div class="col_text flex">
                <div class="text_bg">
                    <i></i>
                    <p class="twit">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                        dolor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus.</p>
                    <p class="author">Tim Berton</p>
                    <p class="desc">Ceo Inter corp.</p>
                </div>
                <div class="image_bg bg_1"></div>
            </div>
            <div class="col_image bg_2"></div>
        </div>
        <div class="row flex">
            <div class="col_image bg_3">
            </div>
            <div class="col_text flex reverse">
                <div class="text_bg">
                    <i></i>
                    <p class="twit">Dear friends! We are pleased to invite you to the annual Symfony Camp UA 2017
                        #sfcampua Registration is open
                        <a href="">http://2017.symfonycamp.org.ua</a></p>
                    <p class="author">Symfony Camp UA</p>
                    <a href="#" class="desc">@symfonycampua</a>
                </div>
                <div class="image_bg bg_4"></div>
            </div>
        </div>
        <div class="row_big flex">
            <div class="horizontal">
                <div class="col_image bg_5">
                </div>
                <div class="col_text flex">
                    <div class="text_bg">
                        <i></i>
                        <p class="twit">Dear friends! We are pleased to invite you to the annual Symfony Camp UA 2017
                            #sfcampua Registration is open
                            <a href="">http://2017.symfonycamp.org.ua</a></p>
                        <p class="author">Symfony Camp UA</p>
                        <a href="#" class="desc">@symfonycampua</a>
                    </div>
                    <div class="image_bg bg_6"></div>
                </div>
            </div>
            <div class="vertical">
                <div class="col_text">
                    <div class="text_bg">
                        <i></i>
                        <p class="twit">Dear friends! We are pleased to invite you to the annual Symfony Camp UA 2017
                            #sfcampua Registration is open
                            <a href="">http://2017.symfonycamp.org.ua</a></p>
                        <p class="author">Symfony Camp UA</p>
                        <a href="#" class="desc">@symfonycampua</a>
                    </div>
                    <div class="image_bg bg_7"></div>
                </div>
            </div>
        </div>
    </div>
</section>