<section class="gallery" style="{{ blocks.showHowItWasSection ? '' : 'display:none' }}">
    <div class="container">
        <h2 class="conferens"><i class="ico_eye"></i>How it was on past conferences</h2>
        <div style="text-align: center;">
           <a href="https://www.youtube.com/channel/UCd1Ds7u1mAjEwHrZ9jG1Arg" class="btn_blue conferens">watch video from the past years</a>
        </div>
    </div>
    <div class="flex_gallery">
        <div class="row flex">
            <div class="col_text flex">
                <div class="text_bg">
                    <i></i>
                    <p class="twit">Lovely people at @symfonycampua. Thanks everyone for the great day!</p>
                    <p class="author">William Durand</p>
                    <p class="desc">@couac</p>
                </div>
                <div class="image_bg bg_1"></div>
            </div>
            <div class="col_image bg_2"></div>
        </div>
        <div class="row flex">
            <div class="col_image bg_3">
            </div>
            <div class="col_text flex reverse">
                <div class="text_bg">
                    <i></i>
                    <p class="twit">Excellent reports, great speakers! See you!</p>
                    <p class="author">Alexander Lisachenko</p>
                    <a href="#" class="desc">@lisachenko</a>
                </div>
                <div class="image_bg bg_4"></div>
            </div>
        </div>
        <div class="row_big flex">
            <div class="horizontal">
                <div class="col_image bg_5">
                </div>
                <div class="col_text flex">
                    <div class="text_bg">
                        <i></i>
                        <p class="twit">It was great meeting you guys again. Keep the #sfcampua spirit lives on! @pilouanic @torchello @tigordev @webmozart @antonioperic</p>
                        <p class="author">Dmitry</p>
                        <a href="#" class="desc">@madmis</a>
                    </div>
                    <div class="image_bg bg_6"></div>
                </div>
            </div>
            <div class="vertical">
                <div class="col_text">
                    <div class="text_bg">
                        <i></i>
                        <p class="twit">Dear friends! We are pleased to invite you to the annual Symfony Camp UA 2017
                            #sfcampua Registration is open
                            <a href="">http://2017.symfonycamp.org.ua</a></p>
                        <p class="author">Symfony Camp UA</p>
                        <a href="#" class="desc">@symfonycampua</a>
                    </div>
                    <div class="image_bg bg_7"></div>
                </div>
            </div>
        </div>
    </div>
</section>
