backend_dashboard:
    pattern:  /
    defaults: { _controller: EventEventBundle:Backend/Dashboard:index }

backend_setting:
    pattern:  /settings
    defaults: { _controller: EventEventBundle:Backend/Dashboard:setting }

# Event
backend_event:
    pattern:  /events
    defaults: { _controller: EventEventBundle:Backend/Event:index }

backend_event_add:
    pattern:  /event/add
    defaults: { _controller: EventEventBundle:Backend/Event:manage }

backend_event_edit:
    pattern:  /event/edit/{id}
    defaults: { _controller: EventEventBundle:Backend/Event:manage, id: null }
    requirements: { id: \d+ }

backend_event_delete:
    pattern:  /event/delete/{id}
    defaults: { _controller: EventEventBundle:Backend/Event:delete }
    requirements: { id: \d+ }

# Speaker
backend_speaker:
    pattern:  /speakers
    defaults: { _controller: EventEventBundle:Backend/Speaker:index }

backend_speaker_add:
    pattern:  /speaker/add
    defaults: { _controller: EventEventBundle:Backend/Speaker:manage }

backend_speaker_edit:
    pattern:  /speaker/edit/{id}
    defaults: { _controller: EventEventBundle:Backend/Speaker:manage, id: null }
    requirements: { id: \d+ }

backend_speaker_delete:
    pattern:  /speaker/delete/{id}
    defaults: { _controller: EventEventBundle:Backend/Speaker:delete }
    requirements: { id: \d+ }

# Speech
backend_speech:
    pattern:  /speeches
    defaults: { _controller: EventEventBundle:Backend/Speech:index }

backend_speech_add:
    pattern:  /speech/add
    defaults: { _controller: EventEventBundle:Backend/Speech:manage }

backend_speech_edit:
    pattern:  /speech/edit/{id}
    defaults: { _controller: EventEventBundle:Backend/Speech:manage, id: null }
    requirements: { id: \d+ }

backend_speech_delete:
    pattern:  /speech/delete/{id}
    defaults: { _controller: EventEventBundle:Backend/Speech:delete }
    requirements: { id: \d+ }

# Program
backend_program:
    pattern:  /schedule
    defaults: { _controller: EventEventBundle:Backend/Program:index }

backend_program_add:
    pattern:  /schedule/add
    defaults: { _controller: EventEventBundle:Backend/Program:manage }

backend_program_edit:
    pattern:  /schedule/edit/{id}
    defaults: { _controller: EventEventBundle:Backend/Program:manage, id: null }
    requirements: { id: \d+ }

backend_program_delete:
    pattern:  /schedule/delete/{id}
    defaults: { _controller: EventEventBundle:Backend/Program:delete }
    requirements: { id: \d+ }

# Sponsor
backend_sponsor:
    pattern:  /sponsors
    defaults: { _controller: EventEventBundle:Backend/Sponsor:index }

backend_sponsor_add:
    pattern:  /sponsor/add
    defaults: { _controller: EventEventBundle:Backend/Sponsor:manage }

backend_sponsor_edit:
    pattern:  /sponsor/edit/{id}
    defaults: { _controller: EventEventBundle:Backend/Sponsor:manage, id: null }
    requirements: { id: \d+ }

backend_sponsor_delete:
    pattern:  /sponsor/delete/{id}
    defaults: { _controller: EventEventBundle:Backend/Sponsor:delete }
    requirements: { id: \d+ }
