event_component_carousel:
    path:  /carousel
    defaults: { _controller: EventEventBundle:Event:carousel }

event_component_speakers:
    path:  /speakers
    defaults: { _controller: EventEventBundle:Event:speakers }

event_component_venue:
    path:  /venue
    defaults: { _controller: EventEventBundle:Event:venue }

event_component_schedule:
    path:  /schedule
    defaults: { _controller: EventEventBundle:Event:schedule }

event_component_sponsors:
    path:  /sponsors
    defaults: { _controller: EventEventBundle:Event:sponsors }

event_component_organizers:
    path:  /sponsors
    defaults: { _controller: EventEventBundle:Event:organizers }

event_component_contact:
    path:  /contact
    defaults: { _controller: EventEventBundle:Event:contact }

event_component_call_for_paper:
    path:  /call-for-paper-mod
    defaults: { _controller: EventEventBundle:Event:callForPaper }
    requirements:
        methods: POST

event_component_call_for_paper_view:
    path:  /call-for-paper
    defaults: { _controller: EventEventBundle:Event:callForPaperView }
    requirements:
        methods: POST
